
{% if type == 'block' %}  
  {% assign quote_text = block.settings.quote_text %}  
  {% assign quote_link = block.settings.quote_link %}  
  {% comment %}Extended--------------------------------------------------{% endcomment %}
  {% assign master-class = block.settings.master-class %}
  {% assign background-image = block.settings.background-image %}
  {% assign background-color = block.settings.background-color %}
  {% assign repeat-background = block.settings.repeat-background %}
  {% assign background-size = block.settings.background-size %}
  {% assign gradient_overlay = block.settings.gradient_overlay %}
  {% assign gradient_direction = block.settings.gradient_direction%}
  {% assign gradient_1 = block.settings.gradient_1 %}
  {% assign gradient_2 = block.settings.gradient_2 %}
  {% assign heading-color = block.settings.heading-color %}
  {% assign text-color = block.settings.text-color %}
  {% assign enable-mobile-image = block.settings.enable-mobile-image %}
  {% assign mobile-image = block.settings.mobile-image %}
  {% assign narrow = block.settings.narrow %}
  {% assign index = block.id %}
{% else %}
  {% assign quote_text = section.settings.quote_text %}  
  {% assign quote_link = section.settings.quote_link %}  
  {% comment %}Extended--------------------------------------------------{% endcomment %}
  {% assign master-class = section.settings.master-class %}
  {% assign background-image = section.settings.background-image %}
  {% assign background-color = section.settings.background-color %}
  {% assign repeat-background = section.settings.repeat-background %}
  {% assign background-size = section.settings.background-size %}
  {% assign gradient_overlay = section.settings.gradient_overlay %}
  {% assign gradient_direction = section.settings.gradient_direction%}
  {% assign gradient_1 = section.settings.gradient_1 %}
  {% assign gradient_2 = section.settings.gradient_2 %}
  {% assign heading-color = section.settings.heading-color %}
  {% assign text-color = section.settings.text-color %}
  {% assign enable-mobile-image = section.settings.enable-mobile-image %}
  {% assign mobile-image = section.settings.mobile-image %}
  {% assign narrow = section.settings.narrow %}
  {% assign index = section.id %}
{% endif %}

{% include "bc__snippet-styles" %} 

<div class="{{ block.settings.display-mode }} {{ master-class }} {{ class__background }}">
  <div class="container content" {% if type == 'block' %} data-block-id="{{block.id}}" {% else %}data-section-id="{{section.id}}" {% endif %}>
    <div class="{% if narrow %}offset-by-two twelve {% else %}sixteen {% endif %} columns">
      <h4 class="{{ class__heading }} quote">
        {% if quote_link != blank %}
        <a href="{{ quote_link }}">
          {{ quote_text }}
        </a>
        {% else %}
        {{ quote_text }}
        {% endif %}
      </h4>
    </div>
  </div>
</div>