
{% if type == 'block' %}
  {% assign search_title = block.settings.search_title %}
  {% assign search_text = block.settings.search_text %}
  {% assign search_section_text_align = block.settings.search_section_text_align %}
  {% assign image = block.settings.image %}
  {% comment %}Extended--------------------------------------------------{% endcomment %}
  {% assign master-class = block.settings.master-class %}
  {% assign background-image = block.settings.background-image %}
  {% assign background-color = block.settings.background-color %}
  {% assign repeat-background = block.settings.repeat-background %}
  {% assign background-size = block.settings.background-size %}
  {% assign gradient_overlay = block.settings.gradient_overlay %}
  {% assign gradient_direction = block.settings.gradient_direction%}
  {% assign gradient_1 = block.settings.gradient_1 %}
  {% assign gradient_2 = block.settings.gradient_2 %}
  {% assign heading-color = block.settings.heading-color %}
  {% assign narrow = block.settings.narrow %}
  {% assign index = block.id %}
{% else %}
  {% assign search_title = section.settings.search_title %}
  {% assign search_text = section.settings.search_text %}
  {% assign search_section_text_align = section.settings.search_section_text_align %}
  {% assign image = section.settings.image %}
  {% comment %}Extended--------------------------------------------------{% endcomment %}
  {% assign master-class = section.settings.master-class %}
  {% assign background-image = section.settings.background-image %}
  {% assign background-color = section.settings.background-color %}
  {% assign repeat-background = section.settings.repeat-background %}
  {% assign background-size = section.settings.background-size %}
  {% assign gradient_overlay = section.settings.gradient_overlay %}
  {% assign gradient_direction = section.settings.gradient_direction%}
  {% assign gradient_1 = section.settings.gradient_1 %}
  {% assign gradient_2 = section.settings.gradient_2 %}
  {% assign heading-color = section.settings.heading-color %}
  {% assign narrow = section.settings.narrow %}
  {% assign index = section.id %}
{% endif %} 

{% include "bc__snippet-styles" %} 

<div class="{{ block.settings.display-mode }} {{ master-class }} {{ class__background }} ">
  <div class="search__section
              {% if image != nil %}search-bgr-true{% endif %}
              text-align--{{search_section_text_align}}
            "
        {% if image != nil %}style="background-image: url(https:{{ image | img_url: '1600x'}})"{% endif %}>
    <div class="container content">
      <div class="{% if narrow %} twelve columns offset-by-two {% endif %}section_form">
        {% if search_title != blank %}
          <h2 class="{{ class__heading }} title">{{ search_title }}</h2>
        {% endif %}
        {% if search_text != blank %}
          <div class="search-text">{{ search_text }}</div>
        {% endif %}
        {% include 'search-form' %}
      </div>
    </div>
  </div>
</div>