
{% capture current_url %}{% if social-buttons == 'article' %}{{ shop.url }}{{ article.url }}{% else %}{{ canonical_url }}{% endif %}{% endcapture %}

{% capture buttons %}


<div class="social_buttons">
  {% capture title %}{% if social-buttons == 'article' %}{{ article.title | strip_html | url_escape }}{% else %}{{ product.title | strip_html | url_escape }}{% endif %}{% endcapture %}
  {% capture shop_name %}{{ shop.name | url_param_escape }}{% endcapture %}
  {% capture twitter_name %}{{ settings.twitter_link | split: 'twitter.com/' | last }}{% endcapture %}

  <p style="margin-bottom: 20px;">Share this with a friend</p>
  
  <div class="twitter"><!--Twitter-->
    <a target="_blank" class="icon-twitter" title="{{ 'layout.social_sharing.twitter_title' | t }}" href="https://twitter.com/intent/tweet?text={{ title | truncate: 30 }}&url={{ current_url }}{%- if twitter_name != blank -%}&via={{ twitter_name }}{%- endif -%}"></a>
  </div>

  <div class="facebook"><!--Facebook-->
    <a target="_blank" class="icon-facebook" title="{{ 'layout.social_sharing.facebook_title' | t }}" href="https://www.facebook.com/sharer/sharer.php?u={{ current_url }}"></a>
  </div>
  
  <div class="whatsapp">
    <a href="https://api.whatsapp.com/send?text={{ shop.url }}{{ product.url }}">
      <img height="24" src="{{ 'icons8-whatsapp-24.png' | asset_url }}" />
    </a>
  </div>
  
  <div class="mail"><!--Email-->
    <a href="mailto:?subject=%0D%0A%0D%0A{{ current_url }}" target="_blank" title="Email">
      <img height="24" width="24" src="{{ 'icons8-new-post-48.png' | asset_url }}" />
    </a>
  </div>
</div>

{% endcapture %}

{% if social-buttons == 'article' and section.settings.display_social_buttons  %}
  <div class="share_article">
    {{ buttons }}
  </div>
{% elsif social-buttons == 'product' and section.settings.display_social_buttons %}
  {{ buttons }}
{% endif %}
